
/*  center the image */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#title {
    text-align: center;
}

a {
    /* bold */
    font-weight: bold;
}

/* quotes */
blockquote {
    /* regular letter spacing */
    letter-spacing: 0.01em;
}